**/.git
**/.github
**/node_modules
/vendor
/src/vendor
/ml_api/vendor
**/.env
**/.env.*
!**/.env.example
src/storage/logs/*
src/storage/framework/cache/*
src/storage/framework/sessions/*
src/storage/framework/views/*
src/bootstrap/cache/*
ml_api/models/*
**/__pycache__
**/*.pyc
*.png
*.puml
docker-compose.yml
